ion-header {
  padding-top: env(safe-area-inset-top);
  position: relative;
}

ion-header ion-toolbar {
  --min-height: calc(44px + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  min-height: calc(44px + env(safe-area-inset-top));
}

ion-header ion-toolbar::part(native) {
  padding-top: env(safe-area-inset-top);
}

ion-content {
  --padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
}
